body{
  
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image{

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border: 5px solid black;
    background-color: #8e68ff;
    color: #ffffff;
    text-align: center;


}
.preview{
		width:10%;
		margin-left:17%;
    border: 10px solid black;
    cursor: pointer;
     transition: transform 0.3s ease;
}
.preview:focus{
    outline: 5px solid #8e68ff;
}
img{
		width:95%;
}